<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script>
    $.ajax({
        url: "http://localhost:44317/api/PlayedMatch/api/PlayedMatch/getStandings",
            context: document.body,
            success: function (data) {
                $(this).addClass("done");
                console.log(data);
            }
        });</script>
</head>
<body>

</body>
</html>